.spinner-spacer{
  padding-bottom: 250px;
}

.invalid-password-text{
  padding-top: 6.5%;
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.title-app{
  font-family: 'Julius Sans One';
  font-size: 300%;
}
:-webkit-autofill {
    -webkit-text-fill-color: transparent !important;
}
